<header>
  <div
    class="navbar navbar-dark bg-primary shadow-sm"
    style="
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: space-around;
    "
  >
    <div class="navbar-brand align-item-center d-flex">
      <i
        class="fas fa-shipping-fast"
        style="font-size: 40px; cursor: pointer"
        routerLink="products"
      >
      </i
      >&nbsp;
      <strong
        style="font-size: 30px; cursor: pointer; font-weight: bold"
        routerLink="products"
        >Online Store</strong
      >
      <div class="form-group">
        <input
          type="text"
          placeholder="search products"
          class="form-control"
          [(ngModel)]="searchTerm"
          (keyup)="search($event)"
        />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="cart" class="btn btn-primary">
      <i class="fas fa-cart-plus" style="font-size: 30px"></i>
      <div class="badge bg-danger" style="font-size: 10px">{{ totalItem }}</div>
    </button>
  </div>
</header>
